{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <style>
        a:hover { color: white; text-decoration: none}
    </style>

    <div class="text-center d-flex justify-content-center align-items-center w-auto h-75 bgcolor-red">
        <div class="text-center d-flex flex-column justify-content-center align-items-center">
            <img src="https://cdn.discordapp.com/attachments/1037380299656548474/1037505047417868311/logoOutdeed.png" alt="" class="w-25 h-auto">

            <h1 class="text-primary font-weight-bold" >Outdeed</h1>

            <button type="button" class="btn btn-outline-primary m-5">
                <a href="/" class="text-decoration-none">Créer une offre</a>
            </button>

            <button type="button" class="btn btn-outline-primary">
                <a href="/" class="text-decoration-none">Créer un profil</a>
            </button>

        </div>

    </div>
{% endblock %}
