{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <style>
        a:hover { color: white; text-decoration: none}
    </style>
    {% include('navbar.html.twig') %}
    <div class="text-center d-flex justify-content-center align-items-center w-auto h-75 bgcolor-red">
        <div class="text-center d-flex flex-column justify-content-center align-items-center">
            <img src="https://cdn.discordapp.com/attachments/1037380299656548474/1037505047417868311/logoOutdeed.png" alt="" class="w-25 h-auto">

            <h1 class="text-primary font-weight-bold" >OutDeed</h1>

            <button type="button" class="btn btn-outline-primary mt-4 mb-2">
                <a href="{{  path('jobs_form') }}" class="text-decoration-none">Créer une Offre</a>
            </button>

            <button type="button" class="btn btn-outline-primary mb-2">
                <a href="{{  path('app_user') }}" class="text-decoration-none">Créer un Profil</a>
            </button>

            <button type="button" class="btn btn-outline-primary">
                <a href="{{  path('app_company') }}" class="text-decoration-none">Créer une Entreprise</a>
            </button>

        </div>

    </div>
{% endblock %}
